<!DOCTYPE HTML>
{% extends "layout.html" %}

{% block content %}



<body>
 
   
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        
        
       
      
      </div>
	  <form name="input" action="processing.html" method="get">
      	<b>Choose your project:</b></br></br>
	 <select>
 		<option value="proj1">Project 1</option>
		<option value="proj2">Project 2</option>
 		<option value="proj3">Project 3</option>
 		<option value="proj4">Project 4</option>
	 </select> <script>
function check_file(){
                str=document.getElementById('fileToUpload').value.toUpperCase();
        suffix=".JPG";
        suffix2=".JPEG";
        if(str.indexOf(suffix, str.length - suffix.length) == -1||
                       str.indexOf(suffix2, str.length - suffix2.length) == -1){
        alert('File type not allowed,\nAllowed file: *.jpg,*.jpeg');
            document.getElementById('fileToUpload').value='';
        }
    }
    </script></br></br></br>
	<b>Select your file:</b></br>
	</br>
  		<input type="file" accept=application/.py>
		 
	</br></br></br>
	<input type="submit" value="Submit">
	</form>
    </div>
    
</body>
{% endblock %}

