<!DOCTYPE HTML>
<html>

<head>
  
    <title>Python Checker</title>

  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style.css" title="style" />
  <link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Python<span class="logo_colour">Checker!</span></a></h1>
          <h2>Check Your Python Output</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li {% if selectedMenu == "Home" %} class="selected" {% endif %}>
          <a href="home.html">Home</a></li>
          <!--{% if username %}
            <li {% if selectedMenu == "Stock Report" %} class="selected" {% endif %}><a href="/stockReport">Stock Report</a></li>
          {% endif %}-->
          <li  class="selected" {% endif %}><a href="login.html">Admin</a></li>
          <!--<li  class="selected" {% endif %}><a href="/login.html">Results</a></li> -->
          
        </ul>
      </div>

    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        
        
       
      
      </div>
	  <form name="input" action="processing.html" method="get">
      	<b>Choose your project:</b></br></br>
	 <select>
 		<option value="proj1">Project 1</option>
		<option value="proj2">Project 2</option>
 		<option value="proj3">Project 3</option>
 		<option value="proj4">Project 4</option>
	 </select> <script>
function check_file(){
                str=document.getElementById('fileToUpload').value.toUpperCase();
        suffix=".JPG";
        suffix2=".JPEG";
        if(str.indexOf(suffix, str.length - suffix.length) == -1||
                       str.indexOf(suffix2, str.length - suffix2.length) == -1){
        alert('File type not allowed,\nAllowed file: *.jpg,*.jpeg');
            document.getElementById('fileToUpload').value='';
        }
    }</script></br></br></br>
	<b>Select your file:</b></br>
	</br>
  		<input type="file" accept=application/.py>
		<!-- onchange="check_file()"-->
 		 <!--<input type="submit">--> 
	</br></br></br>
	<input type="submit" value="Submit">
	</form>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; colour_orange | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a>
    </div>
  </div>
</body>
</html>
