{% extends "layout.html" %}

{% block content %}


        <!-- insert the page content here -->
        <h1>Stock Search</h1>
        <p>Enter a stock symbol. For example 'GOOG' or 'AAPL'</p>
        <form method="post" action="/">
    <label for="username">Search:</label>
    <input type="text" id="search" name="search" size="40" />
    <input type="submit" value="go" name="submit" />
  </form>

  {% if queryType=='stock' %}
         <table>
         <tr><th>Symbol</th><th>Price</th>
        <tr><td>{{symbol}}</td><td>{{price}}</td>
         </table>
        
        
  {% endif %}
        
{% endblock %}
